{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
{{super()}}
<link rel="shortcut icon" href="#" /> <!-- Temporary fix for favicon error -->
{% endblock %}


{% block title %}Data Loader{% endblock %}
  
{% block content %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        <hr>
        {% endif %}
        {% endwith %}
        
    <div class="container">
        <div class="row">
            
            <div class="col-md-4">
                <h1>Load Company</h1>
                {{ wtf.quick_form(company_form, button_map={'submit': 'primary'}) }}
            </div>
        
        
            <div class="col-md-4">
                <h1>Load Category</h1>
                {{ wtf.quick_form(category_form, button_map={'submit': 'primary'}) }}
            </div>
        </div>
    </div>
        
    <hr>
    
    <div class="container">
        <div class="row">
            
            <div class="col-md-4">
                <h1>Link Company & Category</h1>
                {{ wtf.quick_form(link_form, button_map={'submit': 'primary'}) }}
            </div>
        
        
            <div class="col-md-4">
                <h1>Unlink Company & Category</h1>
                {{ wtf.quick_form(unlink_form, button_map={'submit': 'primary'}) }}
            </div>
        </div>
    </div>
    
    <hr>
    <div class=container>
        <div class="row">
            <div class=col-md-4>
                <h1>Existing Companies</h1>
                    {% for company in company_list %}
                    <ul>
                        <li>{{ company.id }}: {{ company.name }}</li>
                    </ul>
                    {% endfor %}
            </div>
            
            <div class=col-md-4>
            <h1>Existing Categories</h1>
            <h4>ID: Category Name (Parent ID)</h4>
                {% for category in category_list %}
                <ul>
                    <li>{{ category.id }}: {{ category.name }} ({{ category.parent_id }})</li>
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}