<!DOCTYPE html>

<html>
    
  <head>
    <title>Data Loader Success</title>
  </head>
  
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <hr>
    <div>
        <ul>
            <li><a href={{ url_for('dataload') }}>Load Another</a></li>
            <spacer></spacer>
            <li><a href={{ url_for('index') }}>Go Home</a></li>
        </ul>
    </div>
  </body>

</html>