.panel-heading {
	font-size: 20px;
	font-weight: bold;
}

.jumbo-content {
	width: 75%;
	padding-left: 20px;
}

.category-specific {
	padding-bottom: 20px;
}

.dropdown-menu li:hover {
	cursor: pointer;
}

.loading > img {
	width: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}