.navbar-default .navbar-brand {
	color: #88D0AB;
}

.navbar-nav li:hover {
	cursor: pointer;
}

.jumbo-content {
	width: 75%;
	padding-left: 20px;
}

.category-specific {
	padding-bottom: 20px;
}

#parent-category-dropdown {
	background-color: #88D0AB;
}

.dropdown-menu li:hover {
	cursor: pointer;
}

.primary-cat-btn {
	font-size: 1.3em;
}

.loading {
	display: inline-block;
}

#sub-cat-btn-group button {
	background-color: #88D0AB;
	border-color: #E9E6E8;
	outline-color: #bab8b9;
}

#sub-cat-btn-group button.active {
	box-shadow: inset 0 3px 5px rgba(0,0,0,.4) ;
}

.panel-heading {
	font-size: 20px;
	font-weight: bold;
}